<%= provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="http://www.clubfashionista.com/">Club Fashionista</a>
  is a project to make blogging social
  with <a href="http://www.clubfashionista.com/p/about.html">Amra and Elma</a>. This
  is our first web application for bloggers and blog readers.
</p>