<%= provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help with using the Club Fashionista platform with our
  <a href="http://www.clubfashionista.com/p/new-social-media-platform.html">Tutorial video</a>.
  For more info on our sample app, see the detailed description on our
  <a href="http://www.clubfashionista.com/p/new-social-media-platform.html">website</a>.
</p>