<footer class="footer">
  <small>
    <a href="http://www.clubfashionista.com/">Club Fashionista</a>
    by Elma and Amra Beganovic
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.clubfashionista.com//">News</a></li>
    </ul>
  </nav>
</footer>